.carousel-item img
{
	height: 450px;
}
.sticky-footer{
	margin-top: 10px;
}
.box{
	margin: 30px;
	border-radius: 15px;
	margin-bottom: 10px;
	border: 1px solid;
	box-shadow: 0 0 30px #dedcdc;
}
.box h1
{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
	font-size: 25px;
	font-weight: bold;
}
.box h5{
	margin-left: 37px;
}
.title h3{
	margin-top :20px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;

}
.ques a{
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 30px;
	height: 40px;
	font-size: 18px;
}
.ques h3 {
	text-align: center;
	color: red;
	margin:22px;
}
.ques p {
	text-align: center;
	color:black;
	margin:18px;
	font-weight: bold;
}